

/* navbar css start  */
/* hover effect */
.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    font-weight:bolder;
    position: relative;
    color: white;
        font-family: "Inter", serif;

    font-size: 25px;
    /* background-color: #fff; */
}

.nav-link:hover,
.nav-link.active {
    color: green;
}

@media (min-width: 991px) {
    .nav-link::before {

        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: green;
        visibility: hidden;
        transition: 0.4s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link::before {

        width: 100%;
        visibility: visible;
    }
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 1.5px;
    background: linear-gradient(149deg, #161d16 15%, #ff0832 100%);
    ;
    visibility: hidden;
    transition: 0.4s ease-in-out;
}
.like a{
      font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(149deg, #161d16 7%, #ff0832 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link:hover::before {
    width: 100%;
    visibility: visible;
}

.nav-item .nav-link:hover {
 
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 600;
    background: linear-gradient(149deg, #161d16 15%, #ff0832 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item{
    font-size: 1.4rem;
}
.kite{
   font-family: "Inter", serif;
    font-size: xx-large;
    font-weight: bold;
    background: linear-gradient(149deg, #161d16 15%, #ff0832 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-transform: uppercase; */
}


.sh-title h2{
    font-size: 26px;
    color: #333;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    background: linear-gradient(149deg, #161d16 15%, #ff0832 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}






.Aman {
    /* background-image: var(--gradient); */
    /* background-color: #083d3d; */
    box-shadow: var(--shadow-4);
    background-color: #fff;
    color: black;

}

.nav-item .nav-link {
    color: #020202;
    font-size: 17px;
}

.Aman {
    /* background-color: rgba(86, 82, 82, 0.881); */
    /* padding: 8px; */
    /* border-radius: 40px; */
    /* background: transparent; */
}

.navbar-toggler-icon {
    color: #fff;
}

.navbar {
    /* margin: 20px; */
}

.nav-link {
    font-size: small;
}


.button a {
    text-decoration: none;
    padding: 1px 5px;
    border-radius: 3px;
    border: 1px solid #0e0a0a;
  
       font-family: "Inter", serif;
    font-size: x-large;
    font-weight: bold;
    background: linear-gradient(149deg, #161d16 15%, #ff0832 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
